.planet-details {
    position: relative;
    right: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
    border: solid 3px;
    border-radius: 5px;
    color: yellow;
  }
  
  .planet-details__clear {
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
    font-weight: 800;
  }
  
  .planet-details__header {
    margin: 0;
  }
  
  .planet-details__sections {
    display: inline-block;
    width: 100%;
    padding: 10px 1%;
    vertical-align: top;
    text-transform: capitalize;
  }
  
  .planet-details__detail {
    padding: 4px;
  }
  .planet-details__center{
    display: flex;
    justify-content: center;
  }
  .planet-details__btn {
    background: transparent;
    font-size: 20px;
    color: yellow;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Arial;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: solid yellow 2px;
  }
  
  @media (max-width: 400px) {
    .planet-details {
      max-width: 100%;
    }
    .planet-details__sections {
      width: 100%;
    }
  }